@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#root{
  max-width: 1170px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}
.text{
  font-family: 'Montserrat', sans-serif;
}
.textarea{
  resize: none;
  width: 100%;
  font-family: 'Montserrat';
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  transition: border .3s, outline .3s;
  outline: 1px solid transparent;
  margin: 0.5rem 0 0 0;
  &:focus{
    border: 1px solid #1976d2;
    outline: 1px solid #1976d2;
  }
}