@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#root{
  max-width: 1170px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}
.text{
  font-family: 'Montserrat', sans-serif;
}